{#


#}

{% set p = properties%}

resources:
- name: sample_sink
  type: logging.v2.sink
  properties:
    destination: bigquery.googleapis.com/projects/{{ env['project'] }}/datasets/{{ p['dataset'] }}
    filter: {{ p['filter'] }}
    uniqueWriterIdentity: true

  